@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

//http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
$brand-primary: #0B486B;

@font-face{
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.otf');
}

@font-face{
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.ttf');
}


body{
    text-align: center;
    font-family: OpenSans;
    font-size: 3em;
    background: url('images/flag-wallpaper.jpg') no-repeat center center;
    background-size: cover;
}

.content {
  @include make-row();
}

.dropzone {
  height: 150px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border: dashed 4px transparent;
  border-radius: 4px;
  border-color: #ccc;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone-active {
  border-color: #666;
}

.dropzone-targeted {
  background-color: #ccc;
}

img{
    max-height: 150px;
    max-width: 200px;
    z-index: 1;
}

h1{
  font-family: Montserrat;
  font-size: 2em;
}

footer{
    //padding-bottom: 20px;
}

form{
    padding-top: 50px;
}

.progress-bar{
    color: #333;
}

.btn-custom{
    @include button-variant(white, $brand-primary, $brand-primary);
    padding: 30px 60px 30px 60px;
    margin-bottom: 20px;
    font-size: 18px;
}

