@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

//http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
$brand-primary: #0B486B;

@font-face{
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.otf');
}

@font-face{
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.ttf');
}


body{
    text-align: center;
    font-family: OpenSans;
    font-size: 3em;
    background: url('images/flag-wallpaper.jpg') no-repeat center center;
    background-size: cover;
}

.content {
  @include make-row();
}

.person {
  @include make-sm-column(4);
  margin-bottom: 20px;
}

h1{
  font-family: Montserrat;
  font-size: 2em;
}

img{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 300px;
}
@media (max-width: 769px){
    img{
        max-width: 200px;
        max-height: 150px;
    }       
}

input{
    padding-top: 50px;
}

.progress-bar{
    color: #333;
}

.btn-custom{
    @include button-variant(white, $brand-primary, $brand-primary);
    padding: 30px 60px 30px 60px;
    margin-bottom: 20px;
    font-size: 18px;
}

