<template name="index">
  <div class="content">
    {{#each people}}
    <div class="person">
      <form>
        <div class="form-group">
          <select class="form-control" data-personId="{{_id}}">
            <option disabled selected>{{name}}</option>
            <option data-decision="kill">kill {{name}}</option>
            <option data-decision="fuck">fuck {{name}}</option>
            <option data-decision="impeach">impeach {{name}}</option>
          </select>
        </div>
      </form>
      <img class="img-responsive img-rounded" src="{{img_path}}"/>
    </div>
    {{/each}}
    <form class="text-center">
      <input type="submit" value="Submit" class="btn btn-custom"/>
    </form>
  </div>
</template>
